<mat-toolbar color="primary">
     <span><img src="./assets/images/fasicon.png" height="100px" width="100px"></span>
    <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/aboutus" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  </mat-toolbar>

  <div class="container jumbotron"
  fxLayout="row"
  fxLayout.sm="column" 
  fxLayout.xs="column" 
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" 
  fxLayoutAlign="center center"
  fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="60%">
      <h1 style="font-size:50px;">Farming Assistant System</h1>
      <p style="font-size:20px;"> We take inspiration from the farmers, and created a unique application
      to help the farmers working with the motive of greater profitability by direct communication 
      between farmer to supplier and supplier to farmer.
    </p>
    </div>

    <div fxFlex fxFlex.gt-sm="40%" >
        <img  src="./assets/images/farmergrow.jpg" alt="Logo" height=500 width=700>
    </div> 
    
  </div>
