
<div  fxLayout="column" fxLayoutAlign="space-around none">
  <mat-card fxLayout="column" fxLayoutGap="30px">
  <mat-toolbar color="primary">
  <span><img src="./assets/images/ad.svg" height="95px" width="100px"></span>
  <span >&nbsp; &nbsp;</span>
  <span >Add Advertisement</span>
</mat-toolbar>




    <form [formGroup]="addForm" >
      
      <div layout="row">
        <div layout="column" layout-padding="" style="min-height: 50px;">
          <!-- <div>
      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip selected color="primary">
          Crop ID
        </mat-chip>
      </mat-chip-list>
    </div> -->
    
      <!-- <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Crop ID : </mat-label>
        <input matInput formControlName="id" placeholder="Crop Id" name="id" class="form-control" id="id">
        <mat-hint>Hint : 5670</mat-hint>
        </mat-form-field>
      </div> -->
    </div>
    
      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip selected color="accent">
          Crop Name
        </mat-chip>
      </mat-chip-list>    
      <div class="form-group" class="full-width">
        <mat-form-field appearance="outline">
         <mat-label>Crop Name : </mat-label>
           <input matInput  formControlName="cropname" onkeypress="return (event.charCode > 64 && 
           event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
            placeholder="Crop Name" name="cropname" class="form-control" id="cropname" required>
          <mat-hint>Hint : Enter only in characters</mat-hint>
        </mat-form-field>
      </div>

      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip selected color="accent">
          Crop Quantity
        </mat-chip>
      </mat-chip-list>
      <div class="form-group" class="full-width">
        <mat-form-field appearance="outline">
          <mat-label>Crop Quantity : </mat-label>
        <input matInput  type="number" min="1" max="100" formControlName="quantity" placeholder="Quantity" name="quantity" class="form-control" id="quantity" required>
        <mat-hint>Hint : Enter only in numbers</mat-hint>
      </mat-form-field>
      </div>
  
   
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    
    </div>
    </form>
  </mat-card>
  </div>
  