<div class="container"
     fxLayout="column"
     fxLayoutGap="50px">

     <div fxFlex>
      <mat-card >
       <mat-toolbar color="primary">
         <mat-icon>menu</mat-icon>
         <span>&nbsp; &nbsp; &nbsp;</span>
        <span> <h1> Supplier's Menu</h1> </span>
     </mat-toolbar>
     </mat-card>
     
     </div>


  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile *ngFor="let suppliermenu of suppliermenus"
        (click)="openMenuOption(suppliermenu.id)" appHighlight>
            <img height="400px" src={{suppliermenu.image}} alt={{suppliermenu.name}}>
        <mat-grid-tile-footer>
          <h1>{{suppliermenu.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxLayout="row" fxLayoutAlign="end end" >
    <button mat-raised-button  color="warn" type="submit" [routerLink]="['/home']" >Logout</button>
  </div>

</div>

