<mat-toolbar color="primary">
    Welcome Supplier,Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <strong class="mat-subheading-1 accent-color">{{message}}</strong>
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="Supplier Userame" type="text" [(ngModel)]="supplier.supplierusername" name="supplierusername"  #supplierusername="ngModel" required>
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="supplierusername.errors?.required">Username is required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Supplier Password" type="password" [(ngModel)]="supplier.supplierpassword" name="supplierpassword" #supplierpassword="ngModel" required>
        <mat-error *ngIf="supplierpassword.errors?.required">Password is required</mat-error>
      </mat-form-field>
    </p>
      <mat-checkbox [(ngModel)]="userModel.remember" name="remember">Remember Me</mat-checkbox>
    
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <div class="example-label"></div>
    <div class="example-button-row">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button  mat-raised-button color="primary" type="submit" [disabled]="loginForm.form.invalid">Login</button>
    </div>
  </mat-dialog-actions>
</form>
